@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-blue {
  background-color: #2c249c;
}

.theme-grey {
  background-color: #EBEDF3;
}

.theme-light-blue:hover {
  background-color: #5a82f8;
  position: relative;
  transition: transform 200ms ease;
  overflow: hidden;
}
.theme-light-blue:before {
  content: "";
  position: absolute;
  height: 150%;
  width: 20px;
  transform: rotate(30deg);
  background-color: rgba(255, 255, 255, 0.2);
  left: -100px;
}
.theme-light-blue:hover:before {
  transition: left 1000ms ease;
  left: 250px;
}